.navbar-brand>img {
	max-width: 100%;
}

.navbar-inverse {
	padding: 10px 0px;
	background-color: transparent !important;
	border-color: transparent !important;
	overflow-x: hidden;
	position: absolute;
	width: 100%;
	top: -25px;
	z-index: 1;
}

.navbar-header {
	padding-top: 25px;
	padding-left: 21px;
	top: -25px;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header,
	.container>.navbar-collapse, .container>.navbar-header {
	margin-right: 0;
	margin-left: 0;
	margin-top: -16px;
}

.navbar-collapse {
	border-radius: 50px;
	border-bottom: 3px solid #FFC277 !important;
	border-top: 3px solid transparent !important;
	padding: 25px 37px;
	overflow-x: hidden !important;
	background-color: #010101;
	padding-top: 18px;
	padding-bottom: 5px;
}

.userWeb-logged {
	color: white;
	text-align: center;
}

/*.container {
	margin-top: 51px;
}*/
.containerLogin {
	position: absolute;
	width: 100%;
	top: 25%;
}

.containerLogin img {
	margin-bottom: -30px;
	text-align: center;
}

@media ( min-width : 1200px) {
	.content {
		width: 1170 px;
	}
}

@media ( min-width : 900px) {
	.navbar-collapse.collapse {
		display: block !important;
		height: auto !important;
		padding-bottom: 0;
		overflow: visible !important;
	}
}

.navbar-right {
	float: right !important;
	margin-right: -15px;
}

.navbar-header {
	padding-left: 15px;
	padding-top: 13px;
}

.navbar-brand {
	outline: 0 !important;
	padding: 22px 15px;
}

.content {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	max-width: 1170px;
}

.login {
	position: relative;
	margin: 0 auto;
	background: transparent;
	width: 350px;
	border-radius: 3px;
	padding: 15px;
	border-top: 3px solid #FFC277;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	border-bottom: 3px solid #FFC277;
	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 40px;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	background-color: rgba(0, 0, 0, 0.36);
	-webkit-box-shadow: 0px 0px 18px 2px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 18px 2px rgba(0, 0, 0, 0.75);
	border-left: 1px solid rgba(255, 255, 255, 0.11);
	border-right: 1px solid rgba(255, 255, 255, 0.11);
	box-shadow: 0px 0px 18px 2px rgba(0, 0, 0, 0.75);
}

.login .form {
	padding-top: 20px;
}

.login .form input[type="text"], .login .form input[type="password"] {
	width: 70%;
	margin-left: 15%;
	margin-bottom: 15px;
	height: 35px;
	border-radius: 5px;
	outline: 0;
	-moz-outline-style: none;
	border: 1px solid #bbb;
	padding: 0 0 0 10px;
	font-size: 14px;
}

.login .form input[type="checkbox"] {
	
}

.login .form input[type="text"]:focus, .login .form input[type="password"]:focus
	{
	border: 1px solid #FF983C;
}

body {
	background-color: #0C1B20;
	color: black;
}

button, input {
	color: gray;
}

legend {
	color: white;
}

.login h2 {
	text-align: center;
	font-weight: 200;
	font-size: 2em;
	margin-top: 70px;
	margin-bottom: 30px;
	color: #FFC277;
}

.login .form button {
	background: #c0c0c0;
	border: none;
	color: white;
	font-size: 16px;
	font-weight: 200;
	cursor: pointer;
	transition: box-shadow .4s ease;
	width: 40%;
	margin-left: 30%;
	margin-bottom: 15px;
	margin-top: 20px;
	height: 40px;
	border-radius: 4px;
	transition: background 0.3s ease-in-out;
}

.login .form button:hover {
	box-shadow: 1px 1px 5px #555;
	background: #ff8040;
}

.login .form button:active {
	box-shadow: 1px 1px 7px #222;
}

.login .hr1 {
	position: relative;
	left: 0px;
	top: -99px;
	transform: rotate(90deg);
	margin-top: 30px;
	margin-bottom: -30px;
	border: 0;
	width: 99px;
	height: 3px;
	background-image: -webkit-linear-gradient(left, #FFC277, transparent);
	background-image: -moz-linear-gradient(left, #FFC277, transparent);
	background-image: -ms-linear-gradient(left, #FFC277, transparent);
	background-image: -o-linear-gradient(left, #FFC277, transparent);
}

.login .hr2 {
	position: relative;
	left: 0px;
	top: 5px;
	transform: rotate(90deg);
	margin-top: 25px;
	margin-bottom: -3px;
	border: 0;
	width: 99px;
	height: 3px;
	background-image: -webkit-linear-gradient(left, transparent, #FFC277);
	background-image: -moz-linear-gradient(left, transparent, #FFC277);
	background-image: -ms-linear-gradient(left, transparent, #FFC277);
	background-image: -o-linear-gradient(left, transparent, #FFC277);
}

.container-fluid h1, .navbar-brand {
	color: #FFC277 !important;
	font-family: georgia, palatino, book antiqua, palatino linotype, serif;
}

.container-fluid p {
	color: #B3B5B5;
	font-size: 15px;
}

.imageHome {
	text-align: center;
}

.affix {
	width: 100%;
}

footer {
	background-color: #08161B;
}

.footer-row {
	left: 0;
	right: 0;
	margin: auto;
	margin: 35px;
}

.subscribe>h2 {
	text-align: center;
	color: #424140;
}

.subscribe>form {
	width: 80%;
	left: 0;
	right: 0;
	margin: auto;
	background-color: rgb(12, 32, 39);
	padding: 15px;
	border-radius: 5px;
	color: #969696;
}

.subscribe-inpt {
	padding: 10px 20px;
	width: 81%;
	border: 0;
	background: transparent;
	margin: 0 5px;
	font-size: 15px;
	font-weight: bold;
	outline: 0;
}

.subscribe-btn {
	padding: 13px 20px;
	background-color: transparent;
	border: 3px solid;
	border-color: #2098d1;
	border-radius: 5px;
	text-transform: uppercase;
	color: white;
}

.row-items {
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: #313131;
}

.footer-row-item {
	width: 237px;
	max-width: 100%;
	color: #757171;
	padding: 5px;
	text-align: justify;
	float: left;
	margin: 0 15px;
}

.footer-row:after, .footer-row-item:after {
	clear: both;
}

.about-us>h2 {
	color: #CCC;
}

.useful-links>h2 {
	color: #CCC;
}

.useful-links>ul>li>a {
	color: #757171;
	text-decoration: none;
}

.useful-links>ul>li>a:hover {
	color: #236B8E;
}

.copyright {
	color: #F38A23;
	text-align: center;
}

.list-group-item {
	height: 118px;
}

.col-sm-6, .col-sm-4 {
	padding-right: 5px !important;
	padding-left: 5px !important;
}

.thumbnail {
	background-color: #151313 !important;
	border: 1px solid #3C2205 !important;
}

.list-group-item.active {
	background-color: #FF8F12 !important;
	border-color: #D8780C !important;
	pointer-events: none;
	cursor: default;
	height: 118px;
}

.list-group-item {
	background-color: #212121 !important;
	border: 1px solid #352F2F !important;
}

.list-group-item-text {
	color: #ABAAAA;
}

a.list-group-item:hover {
	background-color: #292929 !important;
	border-color: #352F2F !important;
}

a.list-group-item .list-group-item-heading, button.list-group-item .list-group-item-heading
	{
	color: #FFF !important;
}

.logotypes-row {
	left: 0;
	right: 0;
	margin: auto;
	width: 94%;
}

.logotypes-row>.row-item {
	float: left;
}

.aLogin {
	font-size: 13px;
	text-align: center;
	margin-left: 52%;
	padding-bottom: 9px;
}

.bLogin {
	font-size: 13px;
	text-align: center;
	margin-left: -51%;
	height: 11px;
}

.aLogin a, .bLogin a {
	color: #FDBA7F !important;
}

.aLogin {
	font-size: 13px;
	text-align: center;
	margin-left: 52%;
	padding-bottom: 9px;
}

.bLogin {
	font-size: 13px;
	text-align: center;
	margin-left: -51%;
	height: 11px;
}

.aLogin a, .bLogin a {
	color: #FDBA7F !important;
}

.aLogin {
	font-size: 13px;
	text-align: center;
	margin-left: 52%;
	padding-bottom: 9px;
}

.bLogin {
	font-size: 13px;
	text-align: center;
	margin-left: -51%;
	height: 11px;
}

.aLogin a, .bLogin a {
	color: #FDBA7F !important;
}

/*
----------------------------------------
 MUDANÇAS VICTOR - LAYOUT
----------------------------------------
*/
#games-section {
	width: 100%;
	background-color: #000000;
	text-align: center;
	padding-bottom: 33px;
	margin-top: 1px;
	padding-top: 15px;
}

.games-section-title {
	width: 100%;
	background-color: #101010;
	text-align: center;
}

.games-section-title .container>h1 {
	color: #D0D0D0
}

#alert-jumbotron {
	background-color: #2C3D50;
	padding-top: 20px;
	padding-bottom: 76px;
	color: white;
	background-image:
		url(https://static.omelete.uol.com.br/media/extras/conteudos/uncharted-4-explosao.jpg);
	background-repeat: no-repeat;
	background-blend-mode: overlay;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.56), 0 1px 2px rgba(0, 0, 0, 0.6);
}

.updates-section-title {
	width: 100%;
	background-color: #101010;
	text-align: center;
	margin-top: -49px;
}

.updates-section-title .container>h1 {
	color: #D0D0D0;
}

#updates {
	background-color: #000000;
	text-align: center;
	color: white;
	padding-bottom: 51px;
}

.atualizacoes {
	height: auto;
	padding-top: 31px;
}

.atualizacoes-row {
	left: 0;
	right: 0;
	margin: auto;
}

.atualizacoes-links {
	max-width: 45%;
	float: left;
}

.atualizacoes-thumbnail {
	max-width: 55%;
	float: left;
}

.atualizacoes-thumbnail #updateImg {
	max-width: 100%;
}

.row-item {
	padding: 15px;
}

.row-item>img {
	width: 235px;
}

.slider {
	width: 100%;
	height: 700px;
	background-color: #CCC;
}