.navbar-brand>img {
	max-width: 100%;
}

.navbar-inverse {
	padding: 10px 0px;
	background-color: transparent !important;
	border-color: transparent !important;
	overflow-x: hidden;
	top: -25px;
}

.navbar-collapse {
	border-radius: 50px;
	border-bottom: 3px solid #FFC277 !important;
	border-top: 3px solid transparent !important;
	padding: 3px 0;
	overflow-x: hidden !important;
	padding-top: 15px;
}

.userWeb-logged {
	color: white;
	text-align: center;
}

.container {
	margin-top: 51px;
}

.containerLogin {
	margin-top: 150px;
	padding-bottom: 150px;
}

.containerLogin img {
	margin-bottom: -30px;
	text-align: center;
}

@media ( min-width : 1200px) {
	.content {
		width: 1170 px;
	}
}

@media ( min-width : 992px) {
	.content {
		width: 970 px;
	}
}

@media ( min-width : 768px) {
	.content {
		width: 750 px;
	}
}

.navbar-right {
	float: right !important;
	margin-right: 15px;
}

.navbar-header {
	padding-left: 15px;
	padding-top: 13px;
}

.navbar-brand {
	outline: 0 !important;
	padding: 18px 15px;
}

.content {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	max-width: 1170px;
}

.login {
	position: relative;
	margin: 0 auto;
	background: transparent;
	width: 350px;
	border-radius: 3px;
	padding: 15px;
	border-top: 3px solid #FFC277;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	border-bottom: 3px solid #FFC277;
	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 40px;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

.login .form {
	padding-top: 20px;
}

.login .form input[type="text"], .login .form input[type="password"] {
	width: 70%;
	margin-left: 15%;
	margin-bottom: 15px;
	height: 35px;
	border-radius: 5px;
	outline: 0;
	-moz-outline-style: none;
	border: 1px solid #bbb;
	padding: 0 0 0 10px;
	font-size: 14px;
}

.login .form input[type="checkbox"] {
	
}

.login .form input[type="text"]:focus, .login .form input[type="password"]:focus
	{
	border: 1px solid #FF983C;
}

body {
	background-color: black;
	color: white;
}

button, input {
	color: gray;
}

legend {
	color: white;
}

.login h2 {
	text-align: center;
	font-weight: 200;
	font-size: 2em;
	margin-top: 70px;
	margin-bottom: 30px;
	color: #FF983C;
}

.login .form button {
	background: #c0c0c0;
	border: none;
	color: white;
	font-size: 16px;
	font-weight: 200;
	cursor: pointer;
	transition: box-shadow .4s ease;
	width: 40%;
	margin-left: 30%;
	margin-bottom: 15px;
	margin-top: 20px;
	height: 40px;
	border-radius: 4px;
	transition: background 0.3s ease-in-out;
}

.login .form button:hover {
	box-shadow: 1px 1px 5px #555;
	background: #ff8040;
}

.login .form button:active {
	box-shadow: 1px 1px 7px #222;
}

.login .hr1 {
	position: relative;
	left: 0px;
	top: -99px;
	transform: rotate(90deg);
	margin-top: 30px;
	margin-bottom: -30px;
	border: 0;
	width: 99px;
	height: 3px;
	background-image: -webkit-linear-gradient(left, #FF8000, transparent);
	background-image: -moz-linear-gradient(left, #FF8000, transparent);
	background-image: -ms-linear-gradient(left, #FF8000, transparent);
	background-image: -o-linear-gradient(left, #FF8000, transparent);
}

.login .hr2 {
	position: relative;
	left: 0px;
	top: 5px;
	transform: rotate(90deg);
	margin-top: 25px;
	margin-bottom: -3px;
	border: 0;
	width: 99px;
	height: 3px;
	background-image: -webkit-linear-gradient(left, transparent, #FF8000);
	background-image: -moz-linear-gradient(left, transparent, #FF8000);
	background-image: -ms-linear-gradient(left, transparent, #FF8000);
	background-image: -o-linear-gradient(left, transparent, #FF8000);
}

.container-fluid h1, .navbar-brand {
	color: #FFC277 !important;
	font-family: georgia, palatino, book antiqua, palatino linotype, serif;
}

.container-fluid p {
	color: #B3B5B5;
	font-size: 15px;
}

.imageHome {
	text-align: center;
}

.affix {
	width: 100%;
}

.aLogin {
	font-size: 13px;
	text-align: center;
	margin-left: 52%;
	padding-bottom: 9px;
}

.bLogin {
	font-size: 13px;
	text-align: center;
	margin-left: -51%;
	height: 11px;
}

.aLogin a, .bLogin a {
	color: #FDBA7F !important;
}